<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="/icone.png" />
    <title>HomeHub | Aplicação Microfrontend</title>

    <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>

    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';"
    />
    <meta name="importmap-type" content="systemjs-importmap" />

    <script type="systemjs-importmap">
      {
        "imports": {
          "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
          "react": "https://cdn.jsdelivr.net/npm/react@17.0.2/umd/react.production.min.js",
          "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@17.0.2/umd/react-dom.production.min.js",
          "@home-hub/react-utils": "//localhost:8080/home-hub-react-utils.js"
        }
      }
    </script>
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
      as="script"
    />

    <% if (isLocal) { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@home-hub/root-config": "//localhost:9000/home-hub-root-config.js",
          "@home-hub/react-navbar": "//localhost:8500/home-hub-react-navbar.js",
          "@home-hub/react-dashboard": "//localhost:8501/home-hub-react-dashboard.js",
          "@home-hub/react-login": "//localhost:8502/home-hub-react-login.js",
          "@home-hub/react-parcel": "//localhost:8503/home-hub-react-parcel.js",
          "@home-hub/vue-demo": "//localhost:8081/js/app.js"
        }
      }
    </script>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
    <% if (isLocal) { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
    <% } else { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
    <% } %>
  </head>
  <body style="margin: 0">
    <noscript> You need to enable JavaScript to run this app. </noscript>
    <main></main>
    <script>
      System.import("@home-hub/root-config");
    </script>
    <import-map-overrides-full
      show-when-local-storage="devtools"
      dev-libs
    ></import-map-overrides-full>
    <div id="single-spa-application:@home-hub/react-login"></div>
    <div id="single-spa-application:@home-hub/react-navbar"></div>
    <div id="single-spa-application:@home-hub/react-dashboard"></div>
  </body>
</html>
